<h1>Create a new property</h1>
<%= form_for(@property) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :subdomain %><br/>
    <%= f.text_field :subdomain %>
  </div>
  
  <div class="actions">
    <%= f.submit "Create Property" %>
  </div>
  
<% end %>