<h1><%= @property.name %></h1>
<p><%= @property.subdomain %></p>
<%= link_to edit_property_path(@property), edit_property_path(@property)%> 

<% unless @property.reservations.empty? %>
<table class="reservations" summary="Property reservations">
  <tr><td>Email</td><td>From</td><td>To</td></tr>
  <% @property.reservations.each do |r| %>

    <tr><td><%= r.email %></td><td><%= r.from_date %></td><td><%= r.to_date %></td></tr>

  <% end %>
  </table>

<% end %>