<h1>Check availability for <%= @property.name %></h1>

<p>Booking is really easy.<p>

<%= render 'shared/reservation_form' %>

<div id="calendar">
  
  <h2 id="month">
      <%= link_to "<", 
      new_property_reservation_path(:month => (@date.beginning_of_month-1).strftime("%Y/%m")) %>
      <%=h @date.strftime("%B %Y") %>
      <%= link_to ">", 
      new_property_reservation_path(:month => (@date.end_of_month+1).strftime("%Y/%m")) %>
  </h2>
  <%= calendar_for @bookings, :year => @date.year, :month => @date.month do |calendar| %>
    <%= calendar.head('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday') %>
    <%= calendar.day(:class => "blah", :day_method => :from_date) do |date| %>
      <%= date.day%>
      <% unless date < Date.today %>
        <% if @property.available?(date) %>
        <span style="color: green">Available</span>
        <% else %>
        <span style="color: red">Booked</span>
        <% end %>
      <% end %>
    <% end%>
  <% end %>
</div>