<span id="title">Reservations</span>
<nav>
  <ul>
    <li><%= link_to "Home", '#' %></li>
    <li><%= link_to "Help", '#' %></li>
    <% if user_signed_in? %>
    <li>Signed in as <%= current_user.email %>. <%= link_to "Sign out", destroy_user_session_path%></li>
    <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
    <% end %>
  </ul>
</nav>